select.sorting-select {
    background-color: transparent;
    color: white;
    font-weight: 500;
    border: none;
    border-bottom: solid 1px;
    border-radius: 0;
    overflow: hidden;
}

select.sorting-select:focus {
    outline: none;
}

select.sorting-select option {
    background-color: #333;
    color: white;
    font-weight: 500;
    border: none;
    border-bottom: solid 1px;
    border-radius: 0;
    overflow: hidden;
}

.sorting-container {
    justify-content: center;
    align-items: center;
}

.sorting-container p {
    color: white;
    font-weight: 500;
}

.sorting-container select {
    background-color: transparent;
    color: white;
    font-weight: 500;
    border: none;
    outline: none;
    border-bottom: solid 1px;
    border-radius: 0;
    overflow: hidden;
}

.sorting-container select:focus {
    outline: none;
}
