body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    margin: 0;
    background: linear-gradient(136deg, #667eea, #764ba2);
    background-size: 400% 400%;
}


.add-city-card {
    width: 720px;
    height: 222.39px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    color: white;
}